.slider {
    position: relative;
}

.grid-container {
    display: grid;
    transition: transform 1s ease;
}

.slider-arrows {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 80rem;
    bottom: 35%;
    left: 50%;
    transform: translateX(-50%);
    gap: 70rem;
    z-index: 15;
}

.slider-arrows span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 5rem;
    cursor: pointer;
    padding: 5px 10px;
    background: rgba(111, 28, 166, 0.1);
    color: #fff;
    margin: 0 5px;
}

.slider-arrows span:hover {
    background-color: rgb(111, 28, 166);
}

.slider-arrows span p {
    color: #6F1CA6;
    font-size: 6rem;
    font-weight: 600;
}

.slider-arrows span:hover p {
    color: #fff;
}

/*------ Media Queries ------*/
@media(max-width:1280px) {
    .slider-arrows {
        width: 70rem;
        padding: 10px;
        gap: 60rem;
    }

    .slider-arrows .prev-arrow {
        margin-right: 2rem;
    }

    .slider-arrows .next-arrow {
        margin-left: 1rem;
    }

    .slider-arrows span {
        width: 15rem;
    }
}

@media(max-width: 1160px) {
    .slider-arrows {
        gap: 60rem;
        bottom: 20%;
    }

    .slider-arrows span {
        width: 15rem;
    }

    .slider-arrows span p {
        font-size: 4rem;
    }
}

@media(max-width: 1140px) {
    .slider-arrows {
        gap: 58rem;
    }

    .slider-arrows .prev-arrow {
        margin-right: 1rem;
    }

    .slider-arrows .next-arrow {
        margin-left: -1rem;
    }

    .slider-arrows span {
        background: #220230;
    }

    .slider-arrows span p {
        color: #fff;
    }
}

@media(max-width: 1100px) {
    .slider-arrows {
        gap: 50rem;
    }

    .slider-arrows .prev-arrow {
        margin-right: 2rem;
    }

    .slider-arrows .next-arrow {
        margin-left: 1rem;
    }

    .slider-arrows span {
        width: 5rem;
    }
}

@media(max-width: 1040px) {
    .slider-arrows .prev-arrow {
        margin-right: 1rem;
    }

    .slider-arrows .next-arrow {
        margin-left: 0rem;
    }
}

@media(max-width: 970px) {
    .slider-arrows {
        gap: 43rem;
    }
}

@media(max-width: 878px) {
    .slider-arrows {
        gap: 40rem;
    }
}

@media(max-width: 840px) {
    .slider-arrows {
        gap: 35rem;
    }
}

@media(max-width: 760px) {
    .slider-arrows {
        gap: 30rem;
    }
}

@media(max-width: 680px) {
    .slider-arrows {
        gap: 25rem;
    }
}

@media(max-width: 605px) {
    .slider-arrows {
        gap: 20rem;
    }
}

@media(max-width: 520px) {
    .slider-arrows {
        gap: 15rem;
    }
}

@media(max-width: 440px) {
    .slider-arrows {
        gap: 10rem;
    }

    .slider-arrows .prev-arrow {
        margin-right: 2rem;
    }

    .slider-arrows .next-arrow {
        margin-left: 1rem;
    }
}

@media(max-width: 360px) {

    .slider-arrows span {
        width: 3rem;
    }

    .slider-arrows span p {
        font-size: 3rem;
    }
}

@media(max-width: 280px) {
    .slider-arrows {
        gap: 10rem;
    }

    .slider-arrows .prev-arrow {
        margin-right: 0rem;
    }

    .slider-arrows .next-arrow {
        margin-left: 0rem;
    }
}